<h1>Placas</h1>

<%= link_to "Nova Placa", new_plate_path %>

<table>
  <thead>
    <tr>
      <th>Placa</th>
      <th>Setor</th>
      <th>Perfil</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% @plates.each do |plate| %>
      <tr>
        <td><%= plate.placa %></td>
        <td><%= plate.setor %></td>
        <td><%= plate.perfil %></td>
        <td><%= plate.tipo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Importar Placas via CSV</h2>

<%= form_with url: import_plates_path, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.file_field :file %>
    <%= form.submit "Importar" %>
  </div>
<% end %>
