<div id="<%= dom_id az_mapa %>">
  <p>
    <strong>Data:</strong>
    <%= az_mapa.data %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= az_mapa.turno %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= az_mapa.tipo %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= az_mapa.resultado %>
  </p>

  <p>
    <strong>Atingiu meta:</strong>
    <%= az_mapa.atingiu_meta %>
  </p>

</div>
