<div class="modal fade" id="taskModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <div>
          <h5 class="modal-title">Editar Tarefa</h5>
        </div>

        <div class="d-flex gap-2 align-items-center">

          <div id="task-status-button">
            <%= button_to toggle_complete_action_plan_bucket_task_path(
                  task.bucket.action_plan,
                  task.bucket,
                  task
                ),
                method: :patch,
                data: {
                  turbo_stream: true
                },
                class: "btn btn-sm #{task.completed ? 'btn-success' : 'btn-outline-success'}" do %>

                <% if task.completed %>
                  <i class="bi bi-check-circle-fill"></i>
                  Concluída
                <% else %>
                  <i class="bi bi-circle"></i>
                  Concluir
                <% end %>

            <% end %>
          </div>


          <button class="btn-close" data-bs-dismiss="modal"></button>

        </div>
      </div>

      <div class="modal-body">
        <div class="row">

          <!-- COLUNA ESQUERDA -->
          <div class="col-md-7">

            <%= form_with model: [task.bucket.action_plan, task.bucket, task],
                data: {
                  controller: "autosave-form",
                  action: "input->autosave-form#change change->autosave-form#change"
                } do |f| %>

              <!-- TÍTULO -->
              <div class="mb-3">
                <%= f.text_field :title,
                  class: "form-control form-control-lg #{'text-decoration-line-through opacity-50' if task.completed}",
                  placeholder: "Título da tarefa" %>
                <% if f.object.persisted? %>
                  <small class="text-muted">
                    Criado em: <%= f.object.created_at.strftime("%d/%m/%Y %H:%M") %>
                  </small>
                <% end %>
              </div>

              <!-- RÓTULOS -->
              <div class="mb-3 labels-field">
                <label>Rótulos</label>
                <select name="task[label_ids][]"
                        multiple
                        class="form-control form-control-sm"
                        data-controller="tom-select"
                        data-tom-select-action-plan-id-value="<%= task.bucket.action_plan.id %>">

                  <% task.bucket.action_plan.labels.each do |label| %>
                    <% if task.labels.include?(label) %>
                      <option value="<%= label.id %>" data-color="<%= label.color %>" selected>
                        <%= label.name %>
                      </option>
                    <% else %>
                      <option value="<%= label.id %>" data-color="<%= label.color %>">
                        <%= label.name %>
                      </option>
                    <% end %>
                  <% end %>
                </select>
              </div>

              <!-- DESCRIÇÃO -->
              <div class="mb-3">
                <%= f.text_area :description, class: "form-control", rows: 3, placeholder: "Anotações..." %>
              </div>

              <!-- CHECKLIST -->
              <%= render "tasklists/form", task: task, f: f %>

              <div class="mb-3">

                <!-- LINHA 1: DATAS -->
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label :start_at, class: "d-none" %>
                    <p class="text-muted small mb-1">Data e hora de início da tarefa</p>
                    <%= f.datetime_local_field :start_at, class: "form-control" %>
                  </div>

                  <div class="col-md-6">
                    <%= f.label :due_at, class: "d-none" %>
                    <p class="text-muted small mb-1">Data e hora de término da tarefa</p>
                    <%= f.datetime_local_field :due_at, class: "form-control" %>
                  </div>
                </div>

                <!-- LINHA 2: RECORRÊNCIA -->
                <div class="row mt-3">
                  <div class="col-md-6">
                    <label>Repetir tarefa</label>

                    <%= f.select :recurrence,
                      options_for_select([
                        ["Não repetir", nil],
                        ["Diariamente", "daily"],
                        ["Semanalmente", "weekly"],
                        ["Mensalmente", "monthly"]
                      ], task.recurrence),
                      {},
                      class: "form-control" %>
                  </div>
                  <div class="col-md-6">
                    <label>Bucket</label>
                    <%= f.select :bucket_id, options_from_collection_for_select(task.bucket.action_plan.buckets, :id, :name, task.bucket_id), {}, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="mb-3 users-field">
                <label>Responsáveis</label>

                <%= select_tag "task[user_ids][]",
                  options_from_collection_for_select(User.all, :id, :name, task.users.pluck(:id)),
                  multiple: true,
                  class: "form-control",
                  data: { controller: "tom-select-users" } %>
              </div>


            <% end %>
          </div>

          <!-- COLUNA DIREITA (COMENTÁRIOS) -->
          <div class="col-md-5 border-start">

            <h6>Log e Comentários</h6>

            <%= turbo_stream_from "task_feed_#{task.id}" %>

            <!-- LISTA DE COMENTÁRIOS -->
            <div id="task_feed_<%= task.id %>"
                data-controller="comment-list"
                class="comments-box"
                style="max-height: 400px; overflow-y: auto;">

              <% activities = (
                task.comments.to_a +
                task.task_activities.where.not(activity_type: :title_changed).to_a
              ).sort_by(&:created_at) %>

              <% activities.each do |activity| %>

                <% if activity.is_a?(Comment) %>
                  <%= render "comments/comment", comment: activity %>
                <% else %>
                  <%= render "task_activities/activity", activity: activity %>
                <% end %>

              <% end %>

            </div>

            <hr>

            <!-- FORMULÁRIO -->
            <div id="new_comment_form_<%= task.id %>">
              <%= render "comments/form", task: task, comment: Comment.new %>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
