<div class="modal fade" id="taskModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Editar Tarefa</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="row">

          <!-- COLUNA ESQUERDA -->
          <div class="col-md-7">

            <%= form_with model: [task.bucket.action_plan, task], local: true do |f| %>

              <!-- TÍTULO -->
              <div class="mb-3">
                <%= f.text_field :title, class: "form-control form-control-lg", placeholder: "Título da tarefa" %>
              </div>

              <!-- DESCRIÇÃO -->
              <div class="mb-3">
                <%= f.text_area :description, class: "form-control", rows: 3, placeholder: "Descrição..." %>
              </div>

              <!-- LABELS -->
              <div
                class="mb-3"
                data-controller="label"
                data-label-action-plan-id-value="<%= task.bucket.action_plan.id %>">

                <label>Labels</label>

                <input type="hidden" name="task[label_ids][]" value="">

                <select name="task[label_ids][]" multiple class="form-control" data-controller="tom-select">
                  <% task.bucket.action_plan.labels.each do |label| %>
                    <% if task.labels.include?(label) %>
                      <option
                        value="<%= label.id %>"
                        data-color="<%= label.color %>"
                        selected>
                        <%= label.name %>
                      </option>
                    <% else %>
                      <option
                        value="<%= label.id %>"
                        data-color="<%= label.color %>">
                        <%= label.name %>
                      </option>
                    <% end %>
                  <% end %>
                </select>

                <!-- CRIAR LABEL -->
                <div class="mt-2">
                  <small>Nova label:</small>

                  <div class="input-group">
                    <input type="text"
                          class="form-control form-control-sm"
                          placeholder="Nome"
                          autocomplete="off"
                          data-label-target="name">

                    <input type="color"
                          class="form-control form-control-sm form-control-color"
                          autocomplete="off"
                          data-label-target="color">

                    <button type="button"
                            class="btn btn-sm btn-outline-primary"
                            data-action="click->label#create">
                      +
                    </button>
                  </div>
                </div>
              </div>

              <!-- CHECKLIST -->
              <div class="mb-3">
                <h6>Checklist</h6>

                <% task.tasklists.each do |list| %>
                  <div class="border p-2 mb-2">
                    <strong><%= list.title %></strong>

                    <% list.tasklist_items.each do |item| %>
                      <div class="form-check">
                        <% if item.completed %>
                          <input type="checkbox" class="form-check-input" checked>
                        <% else %>
                          <input type="checkbox" class="form-check-input">
                        <% end %>
                        <label class="form-check-label"><%= item.content %></label>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <!-- DATAS -->
              <div class="row">
                <div class="col">
                  <%= f.label :start_at %>
                  <%= f.datetime_local_field :start_at, class: "form-control" %>
                </div>

                <div class="col">
                  <%= f.label :due_at %>
                  <%= f.datetime_local_field :due_at, class: "form-control" %>
                </div>
              </div>

              <div class="mb-3">
                <label>Responsáveis</label>

                <%= select_tag "task[user_ids][]",
                  options_from_collection_for_select(User.all, :id, :name, task.users.pluck(:id)),
                  multiple: true,
                  class: "form-control",
                  data: { controller: "tom-select-users" } %>
              </div>

              <div class="mt-3">
                <%= f.submit "Salvar", class: "btn btn-primary" %>
              </div>
          <% end %>
        </div>

          <!-- COLUNA DIREITA (COMENTÁRIOS) -->
          <div class="col-md-5 border-start">

            <h6>Comentários</h6>

            <%= turbo_stream_from "comments_task_#{task.id}" %>

            <!-- LISTA DE COMENTÁRIOS -->
            <div id="comments_task_<%= task.id %>"
              data-controller="comment-list"
              class="comments-box"
              style="max-height: 400px; overflow-y: auto;">
              <% task.comments.each do |comment| %>
                <%= render "comments/comment", comment: comment %>
              <% end %>
            </div>

            <hr>

            <!-- FORMULÁRIO -->
            <div id="new_comment_form_<%= task.id %>">
              <%= render "comments/form", task: task, comment: Comment.new %>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
