<div class="container py-4">
  <h1 class="h3 mb-4">Importar Parâmetros via CSV</h1>

  <%= form_with url: import_csv_parametro_calculos_path, local: true, html: { multipart: true }, class: "card p-4 shadow-sm" do |form| %>
    <div class="mb-3">
      <%= form.label :file, "Selecione o arquivo CSV", class: "form-label" %>
      <%= form.file_field :file, class: "form-control" %>
    </div>

    <%= form.submit "Importar", class: "btn btn-primary" %>
  <% end %>

  <div class="mt-3">
    <%= link_to "Voltar", root_path, class: "btn btn-outline-secondary" %>
    <%= link_to "Ver Todos os Parâmetros", parametro_calculos_path, class: "btn btn-outline-info" %>
  </div>
</div>
