<div id="<%= dom_id operator %>">
  <p>
    <strong>Matricula:</strong>
    <%= operator.matricula %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= operator.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= operator.cpf %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= operator.data_nascimento %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= operator.turno %>
  </p>

</div>
