<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Importar 2art", mapas_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Importar parametros", import_parametro_calculos_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Importar WMS", new_import_wms_tasks_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%= image_tag current_user.photo, class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="dropdown-header">DU</div>
              <%= link_to "Motoristas", drivers_path, class: "dropdown-item" %>
              <%= link_to "Ajudantes", ajudantes_path, class: "dropdown-item" %>
              <%= link_to "Mapas", mapas_todos_path, class: "dropdown-item" %>
              <div class="dropdown-header">AZ</div>
              <%= link_to "Operadores", operators_path, class: "dropdown-item" %>
              <%= link_to "Ajudantes", az_ajudantes_path, class: "dropdown-item" %>
              <%= link_to "Resultados Diários", az_mapas_path, class: "dropdown-item" %>
              <%= link_to "Resultados WMS", wms_tasks_path, class: "dropdown-item" %>
              <div class="dropdown-header">Geral</div>
              <%= link_to "Padrões e LUP's", downloads_path, class: "dropdown-item" %>
              <%= link_to "Parametros", parametro_calculos_path, class: "dropdown-item" %>
              <% if current_user %>
                <%= link_to "Editar cadastro", edit_user_registration_path, class: "dropdown-item" %>
              <% end %>
              <% if current_user.admin? %>
                <%= link_to "Usuários", admin_users_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
