<div id="<%= dom_id az_ajudante %>">
  <p>
    <strong>Matricula:</strong>
    <%= az_ajudante.matricula %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= az_ajudante.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= az_ajudante.cpf %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= az_ajudante.data_nascimento %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= az_ajudante.turno %>
  </p>

</div>
