<div class="row flex-nowrap overflow-auto">

<% buckets.each do |bucket| %>
    <div class="col-3">
    <div class="card bg-light mb-3">

        <div class="card-header d-flex justify-content-between align-items-center">

        <div data-controller="bucket-edit" data-bucket-id="<%= bucket.id %>" class="flex-grow-1">

            <!-- Título -->
            <span data-bucket-edit-target="title"
                data-action="click->bucket-edit#edit"
                style="cursor: pointer;">
            <%= bucket.name %>
            </span>

            <!-- Input oculto -->
            <input type="text"
                value="<%= bucket.name %>"
                data-bucket-edit-target="input"
                data-action="blur->bucket-edit#save keydown->bucket-edit#enter"
                class="form-control form-control-sm d-none"
                autocomplete="off">

        </div>

        <%= link_to "❌",
            action_plan_bucket_path(action_plan, bucket),
            data: {
            turbo_method: :delete,
            turbo_confirm: "Tem certeza?"
            },
            class: "btn btn-sm"
        %>

        </div>

        <div
        class="card-body"
        data-controller="sortable"
        data-sortable-bucket-id-value="<%= bucket.id %>"
        style="min-height: 300px;"
        >
        <% bucket.tasks.order(:position).each do |task| %>
<div
  class="task-card mb-2 p-2 shadow-sm"
  data-id="<%= task.id %>"
  data-controller="task-modal"
  data-action="click->task-modal#open"
  data-task-id="<%= task.id %>"
  data-plan-id="<%= action_plan.id %>"
>

  <!-- Labels -->
  <div class="task-labels mb-1">
    <span class="badge bg-success">Alta</span>
    <!-- depois você pode dinamizar -->
  </div>

  <!-- Título -->
  <div class="task-title">
    <%= task.title %>
  </div>

  <!-- Descrição -->
  <% if task.description.present? %>
    <div class="task-desc">
      <%= truncate(task.description, length: 80) %>
    </div>
  <% end %>

  <!-- Footer -->
  <div class="task-footer mt-2 d-flex justify-content-between align-items-center">

    <div class="task-meta">
      <small>📅 <%= task.due_at %></small>
    </div>

    <div class="task-icons d-flex gap-2">
      <% if task.comments.any? %>
        <small>💬 <%= task.comments.count %></small>
      <% end %>
      <% if task.assignee.present? %>
        <div class="avatar-circle">
          <%= task.assignee.name.first.upcase %>
        </div>
      <% end %>
    </div>

  </div>

</div>
        <% end %>
        </div>

        <div class="card-footer">
        <%= form_with model: [action_plan, bucket, Task.new], local: true do |f| %>
            <div class="input-group">
            <%= f.text_field :title, placeholder: "Nova tarefa...", class: "form-control" %>
            <button class="btn btn-primary">+</button>
            </div>
        <% end %>
        </div>

    </div>
    </div>
<% end %>


</div>
