<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Planos de Ação</h2>
    <%= link_to "Novo Plano", new_action_plan_path, class: "btn btn-primary" %>
  </div>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">
    <i class="fas fa-tasks me-2"></i> Tasks
  </h1>

  <div class="d-flex gap-2">
    <%= link_to new_task_import_path, class: "btn btn-outline-primary" do %>
      <i class="fas fa-file-import me-1"></i> Importar Tasks
    <% end %>
  </div>
</div>

  <div class="row">
    <% @action_plans.each do |plan| %>
      <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
          <div class="card-body">
            <h5><%= plan.name %></h5>
            <p><%= plan.description %></p>

            <%= link_to "Abrir", action_plan_path(plan), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to "Editar", edit_action_plan_path(plan), class: "btn btn-outline-secondary btn-sm" %>
            <button type="button"
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal-<%= plan.id %>">
              Excluir
            </button>
          </div>
        </div>
      </div>

        <%= render "delete_modal", plan: plan %>
    <% end %>
  </div>
</div>
<%= link_to "Voltar", root_path, class: "btn btn-primary shadow-sm p-3 w-100 mt-2" %>
