<div class="container-fluid">
  <%= turbo_stream_from "tasks_action_plan_#{@action_plan.id}" %>
  <div class="d-flex justify-content-between align-items-center mb-4">

    <!-- LEFT -->
    <div class="d-flex align-items-center gap-3">

      <div>
        <h3 class="mb-0">
          <i class="fas fa-file-invoice me-2"></i>
          <%= @action_plan.name %>
        </h3>

        <small class="text-muted">
          Criado em <%= l(@action_plan.created_at, format: :long) %>
        </small>
      </div>

    </div>

    <!-- RIGHT -->
    <div class="d-flex gap-2">
      <%= link_to action_plans_path, class: "btn btn-outline-secondary" do %>
        <i class="fas fa-arrow-left me-1"></i> Voltar
      <% end %>
    </div>

  </div>

  <div class="mb-3">
    <%= link_to "Kanban", action_plan_path(@action_plan, view: "kanban"),
        class: "btn btn-outline-primary #{params[:view] != 'list' ? 'active' : ''}" %>

    <%= link_to "Lista", action_plan_path(@action_plan, view: "list"),
        class: "btn btn-outline-primary #{params[:view] == 'list' ? 'active' : ''}" %>
  </div>

  <% if params[:view] == "list" %>
    <%= render "list_view", buckets: @buckets, action_plan: @action_plan %>
  <% else %>
    <div data-controller="kanban-scroll">

      <!-- SCROLL TOP -->
      <div
        data-kanban-scroll-target="top"
        class="kanban-scroll-top"
      >
        <div data-kanban-scroll-target="spacer"></div>
      </div>

      <!-- KANBAN -->
      <div
        data-kanban-scroll-target="bottom"
        class="kanban-scroll-bottom"
      >
        <div class="border rounded p-1 my-1">
          <%= render "kanban_view", buckets: @buckets, action_plan: @action_plan %>
        </div>
      </div>
    </div>
  <% end %>
</div>
