<div
  class="card shadow-sm mb-4"
  data-controller="photo-card">

  <div class="card-body">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Foto</h5>

      <button
        type="button"
        class="btn btn-sm btn-outline-danger"
        data-action="photo-checklist#removePhoto">

        Remover
      </button>
    </div>

<div class="camera-upload mb-3">

  <video
    autoplay
    playsinline
    class="w-100 rounded d-none mb-2"
    data-photo-card-target="video">
  </video>

  <canvas
    class="d-none"
    data-photo-card-target="canvas">
  </canvas>

  <img
    src=""
    class="img-fluid rounded d-none mb-2"
    data-photo-card-target="preview">

      <%= f.file_field :photo,
            class: "d-none",
            accept: "image/*",
            data: {
              photo_card_target: "input"
            } %>

      <div class="d-grid gap-2">

        <button
          type="button"
          class="btn btn-primary"
          data-action="photo-card#openCamera">

          Abrir câmera

        </button>

        <button
          type="button"
          class="btn btn-success d-none"
          data-action="photo-card#takePhoto"
          data-photo-card-target="captureButton">

          Tirar foto

        </button>

      </div>

    </div>

    <img
      src=""
      class="img-fluid rounded d-none mb-3"
      data-photo-card-target="preview">

    <%= f.label :kind, "Tipo da Foto" %>

    <%= f.select :kind,
          options_for_select([
            ["Foto padrão", "standard"],
            ["Defeito encontrado", "defect"]
          ]),
          {},
          class: "form-select mb-3",
          data: {
            action: "change->photo-card#toggleDescription",
            photo_card_target: "kind"
          } %>

    <div
      class="d-none"
      data-photo-card-target="descriptionContainer">

      <%= f.label :description,
            "Descrição do defeito" %>

      <%= f.text_area :description,
            rows: 3,
            class: "form-control" %>

    </div>

  </div>
</div>