<h1><%= @template.name %></h1>

<%= form_with model: @checklist, local: true do |f| %>
  <%= f.hidden_field :checklist_template_id %>
  <div class="list-group">

  <% if @template.plate_required? %>
    <div class="mb-3">
      <%= f.label :plate_id, "Selecione a Placa" %>
      <%= f.collection_select :plate_id, @plates, :id, :placa, prompt: "Escolha uma placa", class: "form-select" %>
    </div>
  <% end %>

    <%= f.fields_for :checklist_responses do |response_form| %>
      <% item = response_form.object.checklist_item %>

      <%= response_form.hidden_field :checklist_item_id %>

      <div class="list-group-item mb-3" data-controller="response">
        <strong><%= item.description %></strong><br>

        <div class="btn-group mt-2" role="group">
          <input type="radio"
                 name="<%= response_form.object_name %>[status]"
                 value="ok"
                 id="<%= "ok-#{item.id}" %>"
                 class="btn-check"
                 data-action="change->response#hideDetails">
          <label class="btn btn-outline-success" for="<%= "ok-#{item.id}" %>">OK</label>

          <input type="radio"
                 name="<%= response_form.object_name %>[status]"
                 value="nok"
                 id="<%= "nok-#{item.id}" %>"
                 class="btn-check"
                 data-action="change->response#showDetails">
          <label class="btn btn-outline-danger" for="<%= "nok-#{item.id}" %>">NOK</label>
        </div>

        <div data-response-target="details" class="mt-2 d-none">
          <%= response_form.label :comment, "Comentário" %>
          <%= response_form.text_area :comment, rows: 2,
                class: "form-control mb-2",
                data: { response_target: "commentInput" },
                disabled: true %>

          <%= response_form.label :photo, "Foto" %>
          <%= response_form.file_field :photo,
                class: "form-control",
                data: { response_target: "photoInput" },
                disabled: true %>
        </div>
      </div>
    <% end %>
  </div>

  <%= f.submit "Enviar Checklist", class: "btn btn-primary mt-3" %>
<% end %>
