<h1><%= @template.name %></h1>

<%= form_with model: @checklist, local: true, data: {
  controller: "checklist-validation autosave before-leave", turbo: false,
      action: "submit->checklist-validation#validate" } do |f| %>
  <%= f.hidden_field :checklist_template_id %>
  <%= hidden_field_tag :autosave_id,
      @checklist.id,
      id: "autosave_id" %>

  <% if @template.photo_only? %>
    <%= render "photo_only_form", f: f %>
  <% else %>
    <%= render "default_form", f: f %>
  <% end %>

  <%= f.submit "Enviar Checklist", class: "btn btn-primary mt-3" %>
<% end %>
