<%= form_with(model: driver, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :matricula,"Matrícula", class: "form-label" %>
    <%= form.text_field :matricula, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :promax, class: "form-label" %>
    <%= form.text_field :promax, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cpf, "CPF", class: "form-label" %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_nascimento,"Data de Nascimento", class: "form-label" %>
    <%= form.date_field :data_nascimento, class: "form-control" %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :autonomy, class: "form-check-input" %>
    <%= form.label :autonomy, "Possui autonomia?", class: "form-check-label" %>
  </div>

  <%= form.submit "Salvar", class: "btn btn-primary" %>
<% end %>
