<h1>Lista de Motoristas</h1>

<%= link_to "Novo Motorista", new_driver_path, class: "button" %>

<table border="1">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Promax</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.nome %></td>
        <td><%= driver.matricula %></td>
        <td><%= driver.promax %></td>
        <td><%= driver.cpf %></td>
        <td><%= driver.data_nascimento.strftime("%d/%m/%Y") if driver.data_nascimento %></td>
        <td>
          <%= link_to "Ver", driver_path(driver) %> |
          <%= link_to "Editar", edit_driver_path(driver) %> |
          <%= link_to "Excluir", driver_path(driver), method: :delete, data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Importar Motoristas", import_drivers_path %>
