<div class="bg-light">
  <div class="container p-3">
    <h2 class="text-center mb-4 fw-bold text-primary">Bem vindo ao Workstation LOG20 Foz do Iguaçu</h2>

    <div class="cards-index">
      <!-- Botão Distribuição Urbana -->
      <div
        class="card-category-index"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://criciumanoticias.com/wp-content/uploads/2018/11/Aprovada.jpg);"
        onclick="window.location='<%= consultas_new_path %>'">
        Distribuição Urbana
      </div>

      <!-- Botão Armazém -->
      <div
        class="card-category-index"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://logweb.com.br/wp-content/uploads/2021/05/Grupo-Imediato-e-Ambev.jpeg);"
        onclick="window.location='<%= az_consultas_new_path %>'">
        Armazém
      </div>
    </div>
    <div class="mt-2">
      <div
        class="card-category-index"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('autonomia.png') %>');"
        onclick="window.location='<%= new_autonomy_path %>'">
        Autonomia de Frota
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="mt-2">
        <div
          class="card-category-index"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('checklist.png') %>');"
          onclick="window.location='<%= checklists_path %>'">
          Checklist de Manobra
        </div>
      </div>
    <% end %>

  </div>
</div>
