<h2>Importar Relatório de Consumo</h2>

<%= form_with url: fuel_consumptions_path, local: true, multipart: true do |form| %>
  <div class="mb-3">
    <%= form.label :file, "Arquivo CSV/TSV" %>
    <%= form.file_field :file, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :period, "Período (ex: 07/2025)" %>
    <%= form.text_field :period, class: "form-control" %>
  </div>

  <%= form.submit "Importar", class: "btn btn-primary" %>
<% end %>
